/* $Id: tex-live.css 3436 2007-01-13 22:34:01Z karl $
   Simple CSS for TeX Live that adds margins and a little color.
   original by Bzyl Wlodzimierz, edited by Karl Berry, 2005.
   Public domain.  */

html {
  // top left bottom right
  margin: 15pt 15pt 15pt 15pt;
  background: rgb(255,255,224);
}
  
body {
  margin: 0 5pt 0 5pt;
  padding: 0;
  //matw: background: rgb(224,255,224);
  // (It looks better to me to have a consistent background --karl)
//   fonts in browser are low resolution;
//   therefore generated serif are poor quality,
//   so they disturb reading (that is my opinion)
  font-family: sans-serif;  
  font-style: normal;
}
 
/* (It looks better to me to not vary colors at every level --karl) */

h3.sectionHead {
  padding: 12pt 10pt 12pt 20pt;
  //matw: background: rgb(192,224,255);
  background: rgb(224,224,255);
  color: rgb(0,0,32);
}
 
h4.subsectionHead {
  padding: 7pt 10pt 7pt 40pt;
  background: rgb(224,224,255);
  color: rgb(0,0,32);
}
 
h5.subsubsectionHead {
  padding: 3pt 10pt 3pt 40pt;
  //matw: background: rgb(224,255,255);
  background: rgb(224,224,255);
  color: rgb(0,0,32);
}
